<div [ngClass]="{'alert alert-dismissible fade show alert-message': showMessage, 'alert-success': !isError, 'alert-danger': isError}" *ngIf="showMessage" style="text-align: center;">  
    
    {{ serviceMessage }}

    <span type="button" class="close close-btn" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </span>

</div>

<main>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-lg-4">
                <app-menu></app-menu>
            </div>
            <div class="col-xs-12 col-md-8 col-lg-8">
                <app-dashboard></app-dashboard>
            </div>
        </div>
    </div>
</main>

    
